
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">

             

              

            </div>
            <!-- end row -->

            <!-- START ROW -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <% if(user.superAdmin){%>
                            <h4 class="mt-0 header-title mb-4">Adminlar royhati   <a href="/add/admin">
                                <button
                                type="button"
                                class="btn btn-primary waves-effect waves-light mr-5"
                                data-toggle="modal"
                                data-target=".bs-example-modal-lg"
                              >
                                admin qo'shish
                              </button>
                              </a></h4>
                            <div class="table-responsive">
                               
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Login</th>
                                            <th scope="col">Status</th>
                                        
                                            <th scope="col">Status</th>
                                            <th scope="col" colspan="2">param</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <%adminlist.map(item=>{%>
                                        <tr>
                                            <td>   <%=item.login%></td>
                                            <td><span class="badge badge-success <%=item.superAdmin  %>status"><%=item.superAdmin%></span></td>
                                           
                                            
                                           
                                            <td><%=item.createdAt  %></td>


                                            <td class="params">
                                               
                                                <form action="/delete/admin/<%=item._id %>?_method=DELETE"
                                                    style="display:inline-block;" method="post">
                                                    <button type="submit"
                                                        class="btn btn-outline-danger waves-effect waves-light">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                     
                                        <%})%>
                                      
                                    </tbody>
                                </table>
                            <% }  else{console.log('error')}%>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- END ROW -->

        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->

    <footer class="footer">
        © 2019 - 2020 Stexo <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>

</div>